pyyaml
google-ads-api-report-fetcher
google-analytics-data
google-cloud-bigquery
pandas
db-dtypes
semantic-version
pre-commit
schema
pytest
pydantic
beautifulsoup4

streamlit
python-dotenv
google-api-python-client
smart_open[gcs]
google-ads
google-cloud-logging


google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
