pyyaml
google-ads-api-report-fetcher==1.15.1
google-analytics-data
google-cloud-bigquery
pandas
db-dtypes
semantic-version
pre-commit
schema
pytest
pydantic
beautifulsoup4

streamlit
watchdog==4.0.0
python-dotenv
google-api-python-client
smart_open[gcs]
google-ads
google-cloud-logging

google-auth
google-auth-oauthlib
google-auth-httplib2
